@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-catamaran: "Catamaran", sans-serif;
  --color-heading: oklch(21% 0.034 264.665);
  --color-desc: oklch(37.3% 0.034 259.733);
}

html,
body {
  @apply bg-gray-100 ;
}
